USE [master]
GO
/****** Object:  Database [ProyectoFinal-Inmigracion]    Script Date: 30/10/2023 12:09:28 ******/
CREATE DATABASE [ProyectoFinal-Inmigracion]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProyectoFinal-Inmigracion', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ProyectoFinal-Inmigracion.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProyectoFinal-Inmigracion_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ProyectoFinal-Inmigracion_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProyectoFinal-Inmigracion].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProyectoFinal-Inmigracion]
GO
/****** Object:  User [Inmigr]    Script Date: 30/10/2023 12:09:28 ******/
CREATE USER [Inmigr] FOR LOGIN [Inmigr] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [alumno]    Script Date: 30/10/2023 12:09:28 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [Inmigr]
GO
/****** Object:  Table [dbo].[Abogado]    Script Date: 30/10/2023 12:09:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Abogado](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Telefono] [int] NOT NULL,
 CONSTRAINT [PK_Abogado] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Alquiler]    Script Date: 30/10/2023 12:09:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alquiler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdVivienda] [int] NOT NULL,
	[FechaInicio] [date] NOT NULL,
	[FechaFin] [date] NOT NULL,
 CONSTRAINT [PK_Alquiler] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 30/10/2023 12:09:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Telefono] [int] NOT NULL,
	[Mail] [varchar](50) NOT NULL,
	[Contraseña] [varchar](50) NOT NULL,
	[Nacionalidad] [varchar](50) NOT NULL,
	[Ciudad] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vivienda]    Script Date: 30/10/2023 12:09:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vivienda](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Direccion] [varchar](50) NOT NULL,
	[Barrio] [varchar](50) NOT NULL,
	[TipoVivienda] [varchar](50) NOT NULL,
	[MetrosCuadradosTotales] [float] NOT NULL,
	[MetrosCuadradosCubierta] [float] NOT NULL,
	[Luminosidad] [varchar](50) NOT NULL,
	[Baños] [int] NOT NULL,
	[Cocheras] [int] NOT NULL,
	[Ambientes] [int] NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
	[Imagen] [varchar](50) NULL,
 CONSTRAINT [PK_Vivienda] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([Id], [Nombre], [Apellido], [Telefono], [Mail], [Contraseña], [Nacionalidad], [Ciudad]) VALUES (1, N'Martin', N'Wi', 1122334455, N'marwi@', N'spasLegendaria', N'Bolivia', N'La Paz')
INSERT [dbo].[Usuario] ([Id], [Nombre], [Apellido], [Telefono], [Mail], [Contraseña], [Nacionalidad], [Ciudad]) VALUES (9, N'DGDOHK', N'KDFGHSKDH', 5649876, N'SDGSDHFK', N'DHJFKGDSHK', N'DHJFKGDSHJ', N'HDFJKGHDSK')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
SET IDENTITY_INSERT [dbo].[Vivienda] ON 

INSERT [dbo].[Vivienda] ([Id], [IdUsuario], [Direccion], [Barrio], [TipoVivienda], [MetrosCuadradosTotales], [MetrosCuadradosCubierta], [Luminosidad], [Baños], [Cocheras], [Ambientes], [Descripcion], [Imagen]) VALUES (2, 1, N'momitaaaaaaa', N'villa del ffff', N'Departamento', 1, 38, N'Muy Buena', 4, 3, 2, N'lindo', N'mmmmm')
INSERT [dbo].[Vivienda] ([Id], [IdUsuario], [Direccion], [Barrio], [TipoVivienda], [MetrosCuadradosTotales], [MetrosCuadradosCubierta], [Luminosidad], [Baños], [Cocheras], [Ambientes], [Descripcion], [Imagen]) VALUES (3, 1, N'bbbb', N'Paler', N'Depto', 33, 44, N'mala', 2, 3, 4, N'feo', N'bbbbbbbbbb')
INSERT [dbo].[Vivienda] ([Id], [IdUsuario], [Direccion], [Barrio], [TipoVivienda], [MetrosCuadradosTotales], [MetrosCuadradosCubierta], [Luminosidad], [Baños], [Cocheras], [Ambientes], [Descripcion], [Imagen]) VALUES (7, 1, N'scas', N'csa', N'sc', 1, 3, N'string', 1, 1, 1, N'sca', N'mm')
SET IDENTITY_INSERT [dbo].[Vivienda] OFF
GO
ALTER TABLE [dbo].[Alquiler]  WITH CHECK ADD  CONSTRAINT [FK_Alquiler_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Alquiler] CHECK CONSTRAINT [FK_Alquiler_Usuario]
GO
ALTER TABLE [dbo].[Alquiler]  WITH CHECK ADD  CONSTRAINT [FK_Alquiler_Vivienda] FOREIGN KEY([IdVivienda])
REFERENCES [dbo].[Vivienda] ([Id])
GO
ALTER TABLE [dbo].[Alquiler] CHECK CONSTRAINT [FK_Alquiler_Vivienda]
GO
ALTER TABLE [dbo].[Vivienda]  WITH CHECK ADD  CONSTRAINT [FK_Vivienda_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Vivienda] CHECK CONSTRAINT [FK_Vivienda_Usuario]
GO
USE [master]
GO
