
  /* Listado.css */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -10px; /* Márgenes negativos para el espaciado entre tarjetas */
  }
  
  .card {
    margin: 10px; /* Espaciado entre tarjetas */
    padding: 20px;
    box-sizing: border-box;
    background-color: #48e3ee;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  }
  
  .card-img {
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .card-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .card-text {
    color: #666;
    margin-bottom: 10px;
  }
  
  .list-group-item {
    background-color: transparent;
    border: none;
    color: #333;
    font-size: 0.9rem;
    padding: 5px 0;
  }
  
  
  