/* Listado.css */
.card-container {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Espacio entre tarjetas */
  padding: 40px; /* Espacio arriba y abajo, espacio a los costados */
}

.card {
  display: flex;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  overflow: hidden;
  margin-bottom: 15px; /* Espacio entre tarjetas verticales */
}

.card-img {
  flex: 1; /* La imagen ocupa la parte izquierda de la tarjeta */
  height: 150px; /* Altura de la imagen */
  object-fit: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px; /* También aplicamos border-radius en la parte inferior izquierda */
}

.card-content {
  flex: 2; /* El contenido ocupa la parte derecha de la tarjeta */
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold; /* Hacemos que la dirección sea negrita */
  margin-bottom: 10px;
}

.card-description {
  color: #666; /* Cambiamos el color de la descripción a un tono más claro */
  margin-bottom: 10px;
}

.data-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.list-group-item {
  background-color: transparent;
  border: none;
  color: #333;
  font-size: 0.9rem;
  padding: 5px 0;
}
